<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Images_ball_green_org.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{400,400}</string>
        <key>spriteSourceSize</key>
        <string>{400,400}</string>
        <key>textureRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Images_ball_green_org_color.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{400,400}</string>
        <key>spriteSourceSize</key>
        <string>{400,400}</string>
        <key>textureRect</key>
        <string>{{400,0},{400,400}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>green_sprite.png</string>
      <key>size</key>
      <string>{800,400}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:f95df9cfc845a1262f76b1bc96f8192e:f4196181781e04f260cb4cb51dbc4d11:1f9e9668f88a03618e4f4be9cb01c0f0$</string>
      <key>textureFileName</key>
      <string>green_sprite.png</string>
    </dict>
  </dict>
</plist>
