<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Images_ball_orange_org.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Images_ball_orange_org_color.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>orange_sprite.png</string>
            <key>size</key>
            <string>{800,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf2a2dc776df3789d7e94b6e8337a1a3:1c48819e2d4f57835a6ab8ae5a1ce1a4:074d8f3dfa27ed50d5811f168a1da256$</string>
            <key>textureFileName</key>
            <string>orange_sprite.png</string>
        </dict>
    </dict>
</plist>
